/* Css resest */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ClashDisplay", sans-serif;

}

:root {

    --text-color: #fff;
    --black: #000;
    --container-width: 1400px;
    --transition: all 0.3s ease;
    --text-size: 16px;


}

/*styles*/
html {

    scroll-behavior: smooth;

}

@font-face {
    font-family: "ClashDisplay";
    src: url("../Fonts/ClashDisplay-Variable.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    line-height: 1.5;
    color: var(--text-color);
    overflow: scroll;
    font-size: 16px;
    padding: 0px 8px;
    background-color: #13072F;

}

img {

    width: 100%;

}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {

    list-style: none;

}

button,
input,
textarea,
select {

    font: inherit;
    border: none;
    outline: none;

}

button {

    cursor: pointer;

}

/* primary button */


.primary-btn {

    padding: 12px 36px;
    width: 181px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7620C2;
    border-radius: 50px;
    text-decoration: none;
    overflow: hidden;
    margin-right: 32px;
}

.primary-btn-wrap {
    height: 24px;
    overflow: hidden;
    display: block;
}

.primary-btn-text {
    display: flex;
    flex-direction: column;
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.primary-btn-text span {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    white-space: nowrap;
}

.primary-btn:hover .primary-btn-text {
    transform: translateY(-28px);
}


/* tertiary button*/

.tertiary-btn {
    position: relative;
    display: inline-block;

    color: #fff;
    text-decoration: none;

    transition: color 0.3s ease;
}

.tertiary-btn::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background: linear-gradient(90deg,
            #ffffff,
            #9b35ef);

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.4s ease;
}

.tertiary-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.tertiary-btn:hover {
    color: #c28cff;
}


/* gradient blob */

.blob {
    position: absolute;

    width: 600px;
    height: 600px;


    transform: translate(-50%, -50%);

    border-radius: 50%;

    background: radial-gradient(circle,
            rgba(139, 73, 220, 0.534) 0%,
            rgba(101, 48, 175, 0.121) 45%,
            rgba(49, 20, 96, 0) 75%,
            transparent 100%);



    filter: blur(0.3px);

    z-index: 0;
}

/* section label dot  */

.dot {
    width: 9px;
    height: 9px;

    border-radius: 50%;

    background: #b68cff;
}

/* section label  */

.section-label {
    display: flex;
    align-items: center;

    gap: 12px;

    margin-bottom: 35px;

    font-size: 1rem;
}

/*  section heading   gradient & white*/

.section-heading {
    max-width: 720px;

    margin-bottom: 36px;

    font-size: 3.2rem;
    line-height: 1.18;
    font-weight: 500;

    background: linear-gradient(90deg,
            #ffffff 0%,
            #4B359C 100%);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.section-heading-white {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 500;

    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.page-title {
    margin: 0 0 40px;

    font-size: 58px;
    line-height: 1.1;
    font-weight: 600;

    background: linear-gradient(
        90deg,
        #2d20ff 0%,
        #276cff 45%,
        #ffffff 100%
    );

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}




/*  boilerplate ends  */


/* ------ custom  css ------ */

/*  hero section  */

.Hero-section {
    position: relative;

    min-height: 670px;

    padding: 16px 0 60px;

    background-image: url("../Assets/hero-aboutus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.navbar {
    width: 100%;

    padding: 0.75em 1.5rem;

    display: flex;
    align-items: center;

    background: rgba(250, 250, 250, 0.028);

    border: 2px solid rgba(255, 255, 255, 0.356);
    border-radius: 50px;

    backdrop-filter: blur(8px);
}


.navbar .container-fluid {
    padding: 0;
    display: flex;
    align-items: center;
}


.navbar-brand {

    margin: 0 60px 0 0;
    display: flex;
    align-items: center;
}


.navbar-brand img {

    width: 120px;


}


.navbar-collapse {
    align-items: center;
    gap: 24px;
}


.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    color: #ffffff;
    padding: 0;
    height: 26px;
    display: block;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
}

.navbar .nav-link.active {
    color: #ffffff;
}

.nav-text {
    display: flex;
    flex-direction: column;
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-text span {
    display: block;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
}


.nav-link:hover .nav-text {
    transform: translateY(-26px);
}

/*   Navbar CTA   */

.nav-actions {
    display: flex;
    align-items: center;
    gap: 35px;
}

.login-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ffffff;
}

.login-link:hover {
    background: linear-gradient(to bottom,
            #FF0000 0%,
            #990000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup-btn {
    padding: 12px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7620C2;
    border-radius: 50px;
    text-decoration: none;
    overflow: hidden;
}

.signup-text-wrap {
    height: 28px;
    overflow: hidden;
    display: block;
}

.signup-text {
    display: flex;
    flex-direction: column;

    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.signup-text span {
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    white-space: nowrap;
}

.signup-btn:hover .signup-text {
    transform: translateY(-28px);
}

/* hero section */

.aboutus-hero-content {
    margin-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 520px;
}


.aboutus-hero-title {
    margin: 0 0 45px;

    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;

    background: linear-gradient(90deg,
            #3020ff 0%,
            #315cff 45%,
            #ffffff 100%);

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}


.aboutus-hero-description {
    max-width: 470px;

    margin: 0 0 40px;

    color: rgba(255, 255, 255, 0.75);

    font-size: 14px;
    line-height: 1.5;
}




.aboutus-hero-breadcrumb {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 11px 25px;

    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 50px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    color: #ffffff;

    font-size: 14px;
    font-weight: 400;

    text-decoration: none;

    overflow: hidden;

    z-index: 1;

    transition:
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}




.aboutus-hero-breadcrumb::before {
    content: "";

    position: absolute;
    inset: 0;

    border-radius: inherit;

    background: linear-gradient(90deg,
            #7020dd,
            #9d28e8,
            #dc4bd2);

    opacity: 0;

    transform: scaleX(0);
    transform-origin: left;

    transition:
        transform 0.4s ease,
        opacity 0.3s ease;

    z-index: -1;
}


/* HOVER */

.aboutus-hero-breadcrumb:hover::before {
    opacity: 1;
    transform: scaleX(1);
}


.aboutus-hero-breadcrumb:hover {
    color: #ffffff;

    border-color: transparent;

    box-shadow:
        0 0 15px rgba(157, 40, 232, 0.4),
        0 0 30px rgba(220, 75, 210, 0.2);
}


/*  about us */



.about-intro-section {
    position: relative;

    padding: 120px 0;

    background: #13072e;

    overflow: hidden;
}


.about-intro-section .row {
    position: relative;
    
}




.about-intro-image {
    width: 100%;
    max-width: 430px;

    margin: 0 auto;

    overflow: hidden;

    border-radius: 28px;
    
    
}


.about-intro-image img {
 

    width: 100%;
    height: 550px;

    object-fit: cover;
    
}



.about-intro-content {
    padding-left: 35px;
}




.about-intro-content .section-label {
    margin-bottom: 35px;
}


.section-heading-white{

    margin-bottom: 48px;
}


.about-intro-description {
    max-width: 680px;

    margin: 0 0 45px;

    font-size: 16px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.58);
}




.about-intro-blob {
   

    right: -600px;
    top: 45%;

}



.stats-section {
    padding: 100px 0;

    color: #fff;
}


.stats-left .section-label {
    margin-bottom: 45px;
}




.stats-numbers {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 24px;
}




.stats-item {
    min-width: 110px;
}




.stats-item h3 {
    

    font-size: 42px;
    
    font-weight: 500;

    color: #ffffff;
}




.stats-item p {
    margin: 5px 0 0;

    font-size: 10px;
    line-height: 1.2;

    color: rgba(255, 255, 255, 0.8);

    
}



.stats-divider {
    width: 1px;
    height: 55px;

    background: rgba(255, 255, 255, 0.55);
}



/* Vision & Mission */

.mission-vision-section {
    padding: 100px 0;

}


.mission-card {
    position: relative;

    width: 100%;
    height: 400px;

    overflow: hidden;
    background-image: url(../Assets/ea0e0bdaa0073bc8bc89dc0b92291ed4abfde1b8.png);
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 28px;
}



.vision-card {
    position: relative;

    width: 100%;
    height: 400px;

    overflow: hidden;
    background-image: url(../Assets/1a95ae80d9366bc79ba66343db07a5819253e8cd.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 28px;
}








.mission-vision-content {
    
    padding: 75px 72px 95px;

    color: #ffffff;
}




.mission-vision-content h3 {
    margin: 0 0 28px;

    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;

    color: #ffffff;
}


.mission-vision-content p {
    margin: 0;

    font-size: 17px;
    line-height: 1.45;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.7);
}




.mission-card {
    transition:
        transform 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}
.vision-card {
    transition:
        transform 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}


.mission-card:hover {
    transform: translateY(-5px);

    border-color: rgba(157, 70, 235, 0.9);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 -10px 25px rgba(128, 36, 220, 0.219);
}

.vision-card:hover {
    transform: translateY(-5px);

    border-color: rgba(157, 70, 235, 0.9);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 -10px 25px rgba(128, 36, 220, 0.219);
}


.team-section {
    position: relative;

    padding: 100px 0 110px;

   
}








.team-heading {
    margin-bottom: 55px;

    text-align: center;
}


.team-heading .section-label {
    margin-bottom: 45px;
}


.team-title {
    margin: 0;

    font-size: 52px;
    
    font-weight: 500;

    color: #ffffff;
}




.team-card {
    height: 100%;

    padding: 35px 30px 45px;

    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 24px;

    background: linear-gradient(
        180deg,
        rgba(15, 5, 40, 0.85) 0%,
        rgba(59, 20, 132, 0.9) 100%
    );

    transition:
        transform 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}


.team-image {
    width: 180px;
    height: 180px;

    margin: 0 auto 25px;

    border-radius: 50%;

    overflow: hidden;
}


.team-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;

    transition: transform 0.45s ease;
}



.team-content h3 {
    margin: 0 0 7px;

    font-size: 17px;
    font-weight: 500;

    color: #ffffff;
}



.team-content p {
    margin: 0;

    font-size: 12px;
    font-weight: 500;

    color: rgba(255, 255, 255, 0.7);
}



.team-socials {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}


.team-socials a {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    color: #ffffff;

    font-size: 16px;

    text-decoration: none;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}


.team-socials a:hover {
    color: #a84bf0;

    transform: translateY(-3px);
}



.team-card:hover {
    transform: translateY(-7px);

    border-color: rgba(168, 75, 240, 0.85);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 0 25px rgba(145, 53, 225, 0.15);
}


.team-card:hover .team-image img {
    transform: scale(1.04);
}




.team-blob {

    left: 0%;
    top: 30%;
}

/*  work with us */

.work-section {
    position: relative;

    min-height: 650px;

    padding: 70px 0;

    background-image: url("../Assets/Polygon\ vector\ Section\ new.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #ffffff;

    overflow: hidden;
}

.work-content {

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.work-label {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    margin-bottom: 35px;

    font-size: .8rem;
    font-weight: 500;
}


.work-description {
    max-width: 900px;

    margin: 55px auto 0;

    font-size: .8rem;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.85);

    margin-bottom: 160px;
}

.work-cta {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    img {
        height: 60px;
        width: 60px;
    }

    i {
        font-size: 60px;
    }
}


/* let's build */

.build-section {
    position: relative;

    min-height: 650px;

    color: #fff;

    overflow: hidden;
    padding: 60px 0;
}


.build-image {
    height: 650px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.build-image img {
    width: 100%;
    max-width: 520px;
    height: 100%;

    object-fit: contain;
    object-position: bottom;

    display: block;
}


.build-content {
    padding-left: 60px;
}

.build-content h2 {
    margin: 0 0 60px;

    font-size: 4rem;
    line-height: 1.05;
    font-weight: 500;

    color: #fff;
}



/* footer */

.footer-section {
    position: relative;

    padding: 70px 0 25px;

    background: linear-gradient(110deg,
            #42206c 0%,
            #584468 45%,
            #696969 100%);

    color: #fff;
    border-radius: 24px;
    margin-top: 60px;
}


.footer-logo {
    width: 130px;
    margin-bottom: 30px;
}

.footer-about p {
    max-width: 280px;

    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.6;

    color: rgba(255, 255, 255, 0.75);
}



.footer-socials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-socials a {
    color: #fff;
    font-size: 18px;

    text-decoration: none;

    transition: 0.3s ease;
}

.footer-socials a:hover {
    color: #9b35ef;
}


.footer-section h5 {
    margin-bottom: 22px;

    font-size: 16px;
    font-weight: 500;

    color: #fff;
}


.footer-links ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.75);

    font-size: 14px;
    text-decoration: none;

    transition: 0.3s ease;
}


.footer-links li::before {
    content: "→";

    margin-right: 10px;

    color: #9b35ef;
}


.footer-links a:hover {
    color: #fff;
}


.footer-contact p {
    display: flex;
    align-items: center;

    gap: 14px;

    margin-bottom: 16px;

    font-size: 14px;

    color: rgba(255, 255, 255, 0.75);
}

.footer-contact i {
    width: 18px;

    font-size: 17px;

    color: #fff;
}




.newsletter-box {
    position: relative;

    width: 100%;
    max-width: 320px;
}




.newsletter-box input {
    width: 100%;
    height: 48px;

    padding: 0 60px 0 18px;

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 30px;

    outline: none;

    background: transparent;

    color: #fff;

    font-size: 13px;
}

.newsletter-box input::placeholder {
    color: rgba(255, 255, 255, 0.45);
}




.newsletter-box button {
    position: absolute;

    right: 4px;
    top: 50%;

    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: none;
    border-radius: 50%;

    background: #9228e8;

    color: white;

    cursor: pointer;
}



.privacy-check {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-top: 20px;

    font-size: 11px;

    color: rgba(255, 255, 255, 0.5);
}

.privacy-check a {
    color: rgba(255, 255, 255, 0.6);
}



.footer-top-btn {
    display: flex;
    justify-content: flex-end;

    margin: 80px 0 60px;
}

.footer-top-btn a {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #9228e8;

    color: white;

    font-size: 22px;

    text-decoration: none;

    transition: 0.3s ease;
}

.footer-top-btn a:hover {
    transform: translateY(-5px);
}


.footer-bottom {
    padding-top: 25px;

    border-top: 1px solid rgba(255, 255, 255, 0.8);

    text-align: center;
}

.footer-bottom p {
    margin: 0;

    font-size: 12px;

    color: rgba(255, 255, 255, 0.65);
}


.footer-links a {
    display: inline-block;
    transition: 0.3s ease;
}

.footer-links li:hover a {
    color: #ffffff;
    transform: translateX(6px);
}

.footer-links li::before {
    content: "→";
    display: inline-block;
    margin-right: 10px;
    color: #9b35ef;

    transition: 0.3s ease;
}

.footer-links li:hover::before {
    transform: translateX(4px);
}


.footer-socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    transition: 0.3s ease;
}

.footer-socials a:hover {
    color: #b14cff;

    transform: translateY(-5px) scale(1.1);

    text-shadow:
        0 0 10px rgba(177, 76, 255, 0.8),
        0 0 20px rgba(177, 76, 255, 0.4);
}





@media (max-width: 991px) {

    .blog-filter-group {
        justify-content: center;
        gap: 12px;
    }

    .blog-card-img {
        height: 240px;
    }

}


@media (max-width: 576px) {

    .section-heading{
        font-size: 2.6rem;
    }
    .section-heading-white{
        font-size: 2.6rem;
    }

    .primary-btn {

        font-size: .5rem;
    }


    .primary-btn-text span {

        font-size: 1rem;
    }
}

/*Tablets*/
@media (max-width:990px) {

    .nav-actions {
        width: 100%;

        justify-content: center;
        align-items: center;

        gap: 24px;

        margin-top: 24px;
    }
    .project-header-content .primary-btn {

        position: absolute;
        top: 64%;
    }

    
}

/*small laptops*/

@media(max-width:1200px) {}

/*Desktops*/

@media(max-width:1400px) {}